.subListWrap{
	height:150px;
	margin-bottom:20px;
}
.leftPerInfo{
	width:235px;
	height:150px;
	background:#4d47f1;
	border-bottom:1px solid #a8a6f4;
	float:left;
	margin-right:20px;
	position:relative;
	z-index:10;
}
.leftPerInfo img{
	width:60px;
	height:60px;
	float:left;
	border-radius:50%;
	margin:40px 0 0 15px;
}
.leftPerInfo .innerPerInfo strong{
	display:block;
	font-size:16px;
	color:#fff;
	margin:45px 0 5px 0;
	font-weight:normal;
}
.leftPerInfo .innerPerInfo .goldenNum{
	color:#fff;
	font-size:16px;
}
.navBarBtn {
	width:26px;
	height:40px;
	position:absolute;
	right:5px;
	top:5px;
}
.navBarBtn span.line{
	width: 26px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom:6px;
}
.navBarBtn.is-active .line:nth-child(2){
  opacity: 0;
}
.navBarBtn.is-active .line:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.navBarBtn.is-active .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
/* leftSideBarList */
.leftSideBarList{
	width:235px;
	height:400px;
	background:#4d47f1;
	position:absolute;
	left:0;
	top:151px;
	overflow:hidden;
	display:none;
}
.innerLeftSide{
	width:260px;
	height:100%;
	overflow-y:auto;
}
.innerLeftSide li{
	width:240px;
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:16px;
}
.innerLeftSide li a{
	width:100%;
	height:100%;
	display:block;
	color:#fff;
}
.innerLeftSide li:hover,
.innerLeftSide li.active{
	background:#3631b6;
}

/* subList */
.subList{
	width:740px;
	height:150px;
	float:left;
	position:relative;
	background:#fff;
}
.subList p.tipInfoTxt{
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	line-height:26px;
	text-indent:15px;
	color:#333333;
	font-size:15px;
	display:none;
}
.innerSubList{
	width:600px;
	height:100%;
	float:left;
}
.innerSubList .swiper-wrapper{
	margin-top:30px;
}
.innerSubList .swiper-slide{
	width:90px;
	height:104px;
	float:left;
}
.innerSubList .swiper-slide a,
.ediSel .ediName ul li a{
	width:100%;
	height:100%;
	display:block;
}
.swiper-pagination-bullets{
	bottom:0px !important;
}
.swiper-pagination-bullet-active{
	background:#4d47f1 !important;
}
/* selEdiWrap */
.selEdiWrap{
	height:50px;
	line-height:50px;
	background:#fff;
	position:relative;
	z-index:5;
}
.currEditTxt{
	font-size:15px;
	float:left;
	margin-left:15px;
	color:#333;
}
.currEditTxt span{
	color:#4d47f1;
}
.currEditTxt span.noSel{
	color:#999;
}
.ediSel{
	float:right;
	margin-right:15px;
	display:none;
}
.ediSel .choiceTxt{
	color:#333333;
	font-size:15px;
	margin-right:10px;
}
.ediSel .ediName{
	position:relative;
	cursor:pointer;
	padding-right:16px;
}
.ediSel .ediName p{
	min-width:135px;
	text-align:center;
	font-size:15px;
	color:#e10080;
}
.ediSel .ediName p.noSel{
	color:#999;
}
.ediSel .ediName i.triIcon{
	width:0;
	height:0;
	border-width:7px;
	border-style:solid dashed dashed dashed;
	border-color:#999999 transparent transparent transparent;
	position:absolute;
	right:0;
	top:22px;
}
.ediSel .ediName ul{
	width:165px;
	background:#fff;
	position:absolute;
	left:0;
	top:50px;
	border:1px solid #e6e6e6;
	max-height:240px;
	overflow:hidden;
	overflow-y:auto;
	display:none;
}
.ediSel .ediName ul li{
	width:100%;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#333;
	font-size:15px;
	border-bottom:1px solid #e6e6e6;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ediSel .ediName ul li:last-child{
	border-bottom:none;
}
.ediSel .ediName ul li.active a, 
.ediSel .ediName ul li a:hover{
	color:#4d47f1;
}
/* switchGrade */
.switchGrade{
	width:140px;
	height:100%;
	float:right;
	display:flex;
	align-items:center;
}
.switchGrade ul{
	width:112px;
	margin:0 auto;
}
.switchGrade ul li{
	width:110px;
	height:28px;
	line-height:28px;
	border:1px solid #4d47f1;
	font-size:15px;
	color:#333;
	text-align:center;
	cursor:pointer;
}
.switchGrade ul li:nth-of-type(3n-1){
	margin:15px 0;
}
.switchGrade ul li.active,
.switchGrade ul li:hover{
	background:#4d47f1;
	color:#fff;
}