body{
	background:#ebf1f7;
}
.header.hasPadd{
	padding-bottom:10px;
	margin-bottom:0;
}
.w1200{
	width:1200px;
	margin:0 auto;
}
.loginWrap{
	width: 1000px;
	height: 500px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left:-500px ;
	z-index:5;
	border-radius:4px;
}
.leftLoginDec{
	height: 100%;
	float: left;
}
.leftLoginDec img{
	width:406px;
	height:500px;
}
.rightLoginForm{
	width: 500px;
	height: 500px;
	float: left;
	margin-left:50px;
}
.rightLoginForm strong{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	color: #333;
	text-align: center;
	display: block;
	margin-bottom: 20px;
	padding:20px 0;
	font-weight:normal;
	margin-top:40px;
}
.formBox{
	width: 360px;
	height: 40px;
	line-height: 40px;
	border:1px solid #ccc;
	border-radius: 4px;
	margin:0 auto 20px;
}
.formBox input{
	width:80%;
	height: 100%;
	border:none;
	background: transparent;
	float: left;
	padding-left:5%;
	font-weight:bold;
}
.formBox input::-webkit-input-placeholder{
	font-weight: normal;
}
.formBox span.iconBox{
	width: 15%;
	height: 100%;
	float: right;
	text-align: center;
}
.formBox span.iconBox i{
	color:#999;
	font-size:20px;
}
.formBox.vercodeBox input{
	width: 55%;
}
.formBox.vercodeBox span.iconBox{
	width: 35%;
	cursor: pointer;
}
.formBox.vercodeBox span.iconBox img{
	width:110px;
	float: left;
	margin-top: 5px;
}
.loginBtnWrap label{
	float: left;
	height: 40px;
	line-height: 40px;
	position: relative;
	font-size: 14px;
	color: #666;
	margin-left:70px;
}
.loginBtnWrap label input{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	cursor: pointer;
	opacity:0;
	filter:alpha(opacity=0);
}
.loginBtnWrap label span{
	width: 14px;
	height: 14px;
	border:1px solid #999999;
	border-radius: 2px;
	float: left;
	margin:12px 5px 0 0;
	position:realtive;
}
.loginBtnWrap label span i{
	position:absolute;
	left:2px;
	top:1px;
	font-size:12px;
	font-weight:600;
	color:#fff;
	displaty:none;
}
.loginBtnWrap label.active span{
	border:1px solid #4d47f1;
	background:#4d47f1;
}
.loginBtnWrap label.active span i{
	display:block;
}
.loginBtnWrap label p{
	float: left;
}
.loginBtnWrap a{
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #4d47f1;
	color: #fff;
	font-size: 15px;
	border-radius: 4px;
	margin-right:70px;
}
.findPassWrap{
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	margin-right:70px;
}
.findPassWrap a{
	float: right;
	color: #666;
	font-size: 13px;
	margin-top:10px;
}