.mainWrap{
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	top:80px;
}
.leftNav{
	width:200px;
	position:absolute;
	left:0;
	top:10px;
	bottom:10px;
	background:#fff;
}
.leftNav li{
	height:50px;
	line-height:50px;
}
.leftNav li a{
	width:100%;
	height:100%;
	display:block;
	color:#121212;
	font-size:14px;
	text-align:center;
}
.leftNav li:hover,
.leftNav li.active{
	background:#4d47f1;
}
.leftNav li:hover a,
.leftNav li.active a{
	color:#fff;
}
.rightCon{
	position:absolute;
	left:210px;
	right:10px;
	top:10px;
	bottom:10px;
	background:#fff;
	padding:10px;
	overflow:hidden;
	overflow-y:auto;
}
.comDisTxt{
	height:36px;
	line-height:36px;
	min-width:100px;
	border:1px solid #e6e6e6;
	color:#333;
	text-indent:10px;
}
.itemDivs{
	width:150px;
	float:left;
	margin-bottom:10px;
	margin-right:15px;
}
.echartWrap{
	min-height:400px;
	margin-top:50px;
	display:none;
}
.rateWrap{
	padding-bottom:50px;
}
.rateWrap p{
	float:left;
	font-size:20px;
	font-weight:bold;
	color:#121212;
}
.rateWrap p#rateTxt{
	margin-left:50px;
	margin-right:100px;
}
.noDataImg{
	width:500px;
	margin:50px auto 0;
	display:none;
}
.noDataImg img{
	width:500px;
	height:208px;
}
.noDataImg p{
	text-align:center;
	margin-top:20px;
	color:#999;
	font-size:16px;
}