.itemDivs{
	float:left;
	margin-right:15px;
}
.loreHeader{
	width:100%;
	height:50px;
	background:#fff;
	position:fixed;
	left:0;
	top:0;
	z-index:1001;
	box-shadow:0 2px 3px #ccc;
	border-bttom:none;
}
.tipsTxt_rel{
	color:#999;
	text-align:center;
	margin:100px 0;
}
.tree-node{
	line-height:19px;
}